.nav{
    height: 50px;
    background-color: white;
    border: 1px solid red;
}

.switchButton {
    border: 2px solid black;
    /* width: 40px;
    height: 40px;
    border-radius: 40px; */
    position: absolute;
    right: 0;
    z-index: 4;
    background-color: rgb(161, 223, 161);
}

.navTool {
    
    width: 300px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 0px;
}

.panel{
  position: absolute;
  right: 0;
  z-index: 3;
  background-color: bisque;
  /* opacity: .9; */
}

.panelOpen {
    border: 1px solid orange;
    /* width: 1300px;
    height: 1400px;
    border-radius: 8%; */
    /* transition: width 1s, height 1s; */
}

.panelClosed {
    /* width: 40px;
    height: 40px;
    border-radius: 40px; */
    /* transition: width 1s, height 1s; */
    border: 1px solid orange;
    overflow: hidden;
}

.nameHeader {
    -webkit-appearance: none;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    color: pink;
    border: none;
    border-bottom: 1px solid greenyellow;
    width: 33.3vw;
    height: 95%;
}

.nameHeader:focus{
  outline: none;
}

.users{
  display: inline;
}