.nav{
    position: relative;
    height: 50px;
    background-color: white;
    border: 1px solid red;
}

.switchButton {
    height: 20px;
    width: 65%;
    z-index: 4;
    background-color: rgb(161, 223, 161);
    border: 1px solid rgb(161, 223, 161);;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    opacity: .4;
    margin-bottom: 15px;
}

.switchButton:hover {
  opacity: 1;
}

.panel{
  position: absolute;
  top: 0;
  right: 10px;
  width: 200px;
  z-index: 3;
  background-color: whitesmoke;
  /* border: 1px solid orange;
  border-radius: 0 0 7px 7px; */
  box-sizing: border-box;
  box-shadow: 3px 3px pink;
}

.panelOpen {
    border-radius: 8px;
}

.panelClosed {
    height: 0px;
}

.nameHeader {
    -webkit-appearance: none;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    color: pink;
    border: none;
    border-bottom: 1px solid greenyellow;
    width: 33.3vw;
    height: 95%;
}

.nameHeader:focus{
  outline: none;
}

.users{
  display: inline;
}