.display{
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100vw;
    height: 99vh;
    /* border: 2px solid rgb(47, 130, 255); */
    align-items: flex-start;
    background-color: white;
}

 .selectedDisplay{
    display: inline-flex;
    flex: 20;
    min-height: 750px;
    justify-content: center;
  }

  .selectedImage{
      height: 96vh;
      width: auto;
      padding: 10vh;
      border: 1px solid black;
  }

  .uploadPreview{
      height: 75vh;
      width: auto;
      padding: 10vh;
      border: 1px dotted black;
  }

.tileStrip{
    border: 1px solid red;
    display: inline-flex;
    width: 140px; 
    max-height: 100%;
    overflow-y: scroll;
    flex-wrap: wrap;
    vertical-align: top;
  }
  
  .tile{ 
    position: relative;
    flex: 0 1 50%; 
    height: 70px;
    width: 70px;
  }
  
  .overLay{
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: .4;
      z-index: 300;
      background-color: #219bb9;
  }

  .overLay:hover{
    opacity: .2;
  }
  
  .thumbImage{
    width: 100%;
    height: 100%;
  }
  
  .deleteButton{
    position: relative;
    top: 40px;
    padding: 5px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid red;
    color: red;
    cursor: pointer;
  }

.deleteButton:hover{
  background-color: pink;
  opacity: .7;
  transition: background-color 1s;
}

