.switchButton {
    border: 2px solid orange;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: white;
}

.uploadTool {
    width: 300px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 0px;
}

.uploadForm{
  position: absolute;
  right: 0;
  border: 2px solid orange;
  border-radius: 40px;
}

.uploadFormOpen {
    width: 100px;
    height: 40px;
    transition: width 1s, height 1s;
}

.uploadFormClosed {
    width: 40px;
    height: 40px;
    transition: width 1s, height 1s;
    overflow: hidden;
}

.compressionForm{
  width: 140px; 
  border: 5px dotted goldenrod;
}