.switchButton {
    border: 2px solid orange;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: white;
}

.press{
  margin: 10px 10px 10px;
}


.uploadTool {
    width: 180px;
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding-top: 20px;
}

.uploadForm{
  position: absolute;
  right: 0;
  border: 2px solid orange;
  border-radius: 40px;
}

.uploadFormOpen {
    width: 100px;
    height: 40px;
    transition: width 1s, height 1s;
}

.uploadFormClosed {
    width: 40px;
    height: 40px;
    transition: width 1s, height 1s;
    overflow: hidden;
}

.compressionForm{
  width: 95%; 
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px dotted cornflowerblue;
  border-bottom: 1px dotted cornflowerblue;
  margin: 0;
}

.compressionSelector{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  display: block;
  margin: 3px;
  border: 1px solid cornsilk;
}

.submitUpload:hover{
  background-color: aquamarine;
  transition: background-color 1s;
}

.submitUpload{
  border: 2px solid olive;
  border-radius: 3px;
  height: 25px;
  width: 65px;
  padding: 3px;
  margin: 5px 10px;
}