.nav__nav___2SbB7{
    height: 50px;
    background-color: white;
    border: 1px solid red;
}

.nav__switchButton___3WoLq {
    border: 2px solid black;
    /* width: 40px;
    height: 40px;
    border-radius: 40px; */
    position: absolute;
    right: 0;
    z-index: 4;
    background-color: rgb(161, 223, 161);
}

.nav__navTool___2mcSI {
    
    width: 300px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 0px;
}

.nav__panel___1efYD{
  position: absolute;
  right: 0;
  z-index: 3;
  background-color: bisque;
  /* opacity: .9; */
}

.nav__panelOpen___2cllE {
    border: 1px solid orange;
    /* width: 1300px;
    height: 1400px;
    border-radius: 8%; */
    /* transition: width 1s, height 1s; */
}

.nav__panelClosed___hRGCE {
    /* width: 40px;
    height: 40px;
    border-radius: 40px; */
    /* transition: width 1s, height 1s; */
    border: 1px solid orange;
    overflow: hidden;
}

.nav__nameHeader___2mASt {
    -webkit-appearance: none;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    color: pink;
    border: none;
    border-bottom: 1px solid greenyellow;
    width: 33.3vw;
    height: 95%;
}

.nav__nameHeader___2mASt:focus{
  outline: none;
}

.nav__users___EH1Hh{
  display: inline;
}
.uploader__switchButton___1bBNc {
    border: 2px solid orange;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: white;
}

.uploader__uploadTool___2h9Jd {
    width: 300px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 0px;
}

.uploader__uploadForm___zud77{
  position: absolute;
  right: 0;
  border: 2px solid orange;
  border-radius: 40px;
}

.uploader__uploadFormOpen___2zgbs {
    width: 100px;
    height: 40px;
    transition: width 1s, height 1s;
}

.uploader__uploadFormClosed___rcpCc {
    width: 40px;
    height: 40px;
    transition: width 1s, height 1s;
    overflow: hidden;
}

.uploader__compressionForm___1za9K{
  width: 140px; 
  border: 5px dotted goldenrod;
}
.photoDisplay__display___2IfRO{
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100vw;
    height: 99vh;
    /* border: 2px solid rgb(47, 130, 255); */
    align-items: flex-start;
    background-color: white;
}

 .photoDisplay__selectedDisplay___EpAV4{
    display: inline-flex;
    flex: 20;
    min-height: 750px;
    justify-content: center;
  }

  .photoDisplay__selectedImage___2kbJ7{
      height: 96vh;
      width: auto;
      padding: 10vh;
      border: 1px solid black;
  }

  .photoDisplay__uploadPreview___KlPVu{
      height: 75vh;
      width: auto;
      padding: 10vh;
      border: 1px dotted black;
  }

.photoDisplay__tileStrip___2vlqk{
    border: 1px solid red;
    display: inline-flex;
    width: 140px; 
    max-height: 100%;
    overflow-y: scroll;
    flex-wrap: wrap;
    vertical-align: top;
  }
  
  .photoDisplay__tile___1jGCs{ 
    position: relative;
    flex: 0 1 50%; 
    height: 70px;
    width: 70px;
  }
  
  .photoDisplay__overLay___6663T{
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: .4;
      z-index: 300;
      background-color: #219bb9;
  }

  .photoDisplay__overLay___6663T:hover{
    opacity: .2;
  }
  
  .photoDisplay__thumbImage___1_XwI{
    width: 100%;
    height: 100%;
  }
  
  .photoDisplay__deleteButton___2omZA{
    position: relative;
    top: 40px;
    padding: 5px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid red;
    color: red;
    cursor: pointer;
  }

.photoDisplay__deleteButton___2omZA:hover{
  background-color: pink;
  opacity: .7;
  transition: background-color 1s;
}



/*# sourceMappingURL=main.css.map*/