.photoDisplay__display___2IfRO{
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
    background-color: white;
}

 .photoDisplay__selectedDisplay___EpAV4{
    flex: 12;
    display: inline-flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .photoDisplay__selectedImage___2kbJ7{
      flex: 0 1;
      height: 96%;
      width: auto;
      object-fit: contain;
  }

  .photoDisplay__uploadPreview___KlPVu{
      height: 50vh;
      width: auto;
      padding: 10vh;
      border: 1px dotted black;
  }

.photoDisplay__tileStrip___2vlqk{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    width: 160px;
    max-height: 100%;
    overflow-y: scroll;
    vertical-align: top;
  }
  
  .photoDisplay__tile___1jGCs{ 
    flex: 1;
    position: relative;
    height: 80px;
    width: 80px;
  }
  
  .photoDisplay__overLay___6663T{
      position: absolute;
      flex: 1;
      width: 100%;
      height: 100%;
      opacity: .4;
      z-index: 300;
      background-color: #219bb9;
  }

  .photoDisplay__overLay___6663T:hover{
    opacity: .2;
  }

  .photoDisplay__uploadButton___2EiS1{
    color: crimson;
    background-color: pink;
    opacity: .4;
    font-size: 30px;
    display: flex;
    align-items: center; 
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid crimson;
  }

  .photoDisplay__uploadButton___2EiS1:hover{
    opacity:.7;
  }
  
  .photoDisplay__thumbImage___1_XwI{
    width: 100%;
    height: 100%;
  }

  .photoDisplay__deleteDrawer___2bnm9{
    position: absolute;
    right: 7px;
    top: 12px;
    width: 3.8%;
    height: 5%;
  }

  .photoDisplay__deleteSwitch___QL0cE{
    position: absolute; 
    right: 0;
    width: 100%;
    height: 100%;
    background-color: crimson;
    border-radius: 6px;
    z-index: 50;
    box-sizing: border-box;
  }

  .photoDisplay__deleteButton___2omZA{
    position: absolute; 
    right: 0;
    height: 100%;
    padding-top: 6px;
    padding-left: 5px;
    border-radius: 6px;
    color: red;
    border: 1px solid red;
    cursor: pointer;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
  }

  .photoDisplay__deleteClosed___1HdSG{
    visibility: hidden;
    width: 100%;
    transition: width 1s, visibility 1s;
  }

  .photoDisplay__deleteOpen___1YeKi{
    visibility: visible;
    width: 210%;
    transition: width 1s;
  }
  
.photoDisplay__deleteOpen___1YeKi:hover{
  background-color: pink;
  opacity: .7;
  transition: background-color 1s, width 1s;
}


.uploader__switchButton___1bBNc {
    border: 2px solid orange;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: white;
}

.uploader__press___3Fw_3{
  margin: 10px 10px 10px;
}


.uploader__uploadTool___2h9Jd {
    width: 180px;
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding-top: 20px;
}

.uploader__uploadForm___zud77{
  position: absolute;
  right: 0;
  border: 2px solid orange;
  border-radius: 40px;
}

.uploader__uploadFormOpen___2zgbs {
    width: 100px;
    height: 40px;
    transition: width 1s, height 1s;
}

.uploader__uploadFormClosed___rcpCc {
    width: 40px;
    height: 40px;
    transition: width 1s, height 1s;
    overflow: hidden;
}

.uploader__compressionForm___1za9K{
  width: 95%; 
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px dotted cornflowerblue;
  border-bottom: 1px dotted cornflowerblue;
  margin: 0;
}

.uploader__compressionSelector___3GnWB{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  display: block;
  margin: 3px;
  border: 1px solid cornsilk;
}

.uploader__submitUpload___1p9yF:hover{
  background-color: aquamarine;
  transition: background-color 1s;
}

.uploader__submitUpload___1p9yF{
  border: 2px solid olive;
  border-radius: 3px;
  height: 25px;
  width: 65px;
  padding: 3px;
  margin: 5px 10px;
}
.nav__nav___2SbB7{
    position: relative;
    height: 50px;
    background-color: white;
    border: 1px solid red;
}

.nav__switchButton___3WoLq {
    height: 20px;
    width: 65%;
    z-index: 4;
    background-color: rgb(161, 223, 161);
    border: 1px solid rgb(161, 223, 161);;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    opacity: .4;
    margin-bottom: 15px;
}

.nav__switchButton___3WoLq:hover {
  opacity: 1;
}

.nav__panel___1efYD{
  position: absolute;
  top: 0;
  right: 10px;
  width: 200px;
  z-index: 3;
  background-color: whitesmoke;
  /* border: 1px solid orange;
  border-radius: 0 0 7px 7px; */
  box-sizing: border-box;
  box-shadow: 3px 3px pink;
}

.nav__panelOpen___2cllE {
    border-radius: 8px;
}

.nav__panelClosed___hRGCE {
    height: 0px;
}

.nav__nameHeader___2mASt {
    -webkit-appearance: none;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    color: pink;
    border: none;
    border-bottom: 1px solid greenyellow;
    width: 33.3vw;
    height: 95%;
}

.nav__nameHeader___2mASt:focus{
  outline: none;
}

.nav__users___EH1Hh{
  display: inline;
}

/*# sourceMappingURL=main.css.map*/