body {
  font-family: sans-serif;
  margin: 200px;
  background-color: black;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#tail {
  background-color: black;
  height: 1000px;
}